bin/mkbib
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/icons/Makefile
data/icons/Makefile.in
data/icons/hicolor/48x48/Makefile
data/icons/hicolor/48x48/Makefile.in
data/icons/hicolor/48x48/apps/Makefile
data/icons/hicolor/48x48/apps/Makefile.in
data/icons/hicolor/Makefile
data/icons/hicolor/Makefile.in
data/icons/hicolor/scalable/Makefile
data/icons/hicolor/scalable/Makefile.in
data/icons/hicolor/scalable/apps/Makefile
data/icons/hicolor/scalable/apps/Makefile.in
data/mkbib.desktop
data/org.example.mkbib.gschema.valid
data/ui/Makefile
data/ui/Makefile.in
mkbib/__pycache__/

